{% extends "base.html" %}
{% load static %}
{% block title %}
    Seção Administrativa
{% endblock title %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/administrative.css' %}">
{% endblock link %}

{% block content %}
    {% if logado %}
        <div class="main">
            <!-- seção administrativa -->
            <div class="text-central">
                <h1>seção administrativa</h1>
            </div>
            <div class="options">
                <a href="{% url 'cadastro' %}" class="btn btn-primary">Cadastrar Usuários</a>
                <a href="{% url 'academy_list' %}" class="btn btn-primary">listar usuários</a>
                <a href="{% url 'academy_list' %}" class="btn btn-primary">Deletar usuários</a>
                <a href="{% url 'academy_search' %}" class="btn btn-primary">procurar usuário</a>
                <a href="{% url 'academy_atualizacao' %}" class="btn btn-primary">atualizar pagamento do usuário</a>
                <a href="{% url 'academy_usuarios_pendentes' %}" class="btn btn-primary">listar usuários pendentes</a>
            </div>   
        </div>
    {% else %}
        <h1>voce não possui permissão de acesso</h1>
    {% endif %}
{% endblock content %}

