{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock link %}
{% block title %}
    Página Inicial Da Academia
{% endblock title %}
{% block header %}
    <div class="logo">
        <p>strongfitness</p>
    </div>
    <div class="menu">
        <ul class="list-menu">
           <li><a href="#servicos" >serviços<span></span></a></li>
           <li><a href="#footer">mais informações<span></span></a></li>
           <li><a href="#">sobre<span></span></a></li>
        </ul>
    </div>
        
                
{% endblock header %}
{% block content %}
    <div class="content">
        <div class="text-content">
            
            <h1>Seja bem vindo a strong fitness</h1>
            
        </div>
        <div class="img-content">
            <img src="{% static 'images/casal_gym-removebg-preview.png' %}" alt="imagem de casal de academia" width="100%" height="100%">
            
        </div>
    </div>
{% endblock content %}

{% block section1 %}
    <div class="about"id="servicos">
        <div class="about-content container">
            <div>
                <img src="{% static 'images/homem_treinando.jpeg' %}" alt="imagem de pessoas treinando">
            </div>
            <div class="about-description">
                <h2>Sobre a academia</h2>
                <p>a academia strong fitness lhe convida a participar dessa grande familia, aqui você conhecerá o conceito de luta e conquista diariamente, venha conosco!!</p>
                <p><strong>horário de funcionamento</strong>
                    <a href="javascript:vizualizar_elemento()" onclick="vizualizar_elemento();">
                        <i class="fas fa-angle-down" id="seta-pra-baixo"></i>
                    </a>
                    <a href="javascript:esconder_elemento()" onclick="esconder_elemento();">
                        <i class="fas fa-angle-up" id="seta-pra-cima" style="display: none;"></i>
                    </a>
                </p>
                <script>
                    
                    function vizualizar_elemento(){
                        var ElementoP = document.getElementById("p");
                        var ElementoP1 = document.getElementById("p1");
                        var IconeUP = document.getElementById("seta-pra-cima");
                        var IconeDown = document.getElementById("seta-pra-baixo");
                        ElementoP.style.display = "flex";
                        ElementoP1.style.display = "flex";
                        IconeUP.style.display = "inline-flex";   
                        IconeDown.style.display = "none"; 
                        
                    }
                    function esconder_elemento(){
                        var ElementoP = document.getElementById("p");
                        var ElementoP1 = document.getElementById("p1");
                        var IconeUP = document.getElementById("seta-pra-cima");
                        var IconeDown = document.getElementById("seta-pra-baixo");
                        ElementoP.style.display = "none";
                        ElementoP1.style.display = "none";
                        IconeUP.style.display = "none";   
                        IconeDown.style.display = "inline-flex"; 
                        
                    }
                </script>
                <p id="p">
                    durante a semana: 06:00 ás 12:00 e 16:00 ás 21:00</p>
                <p id="p1">finais de semana: <strong>fechada!!</strong></p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock section1 %}

{%  block footer %}
    <div class="footer" id="footer">
        <ul class="footer-itens">
            <li><a href="#"><i class="fa fa-whatsapp" id="whatsapp"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope" id="email"></i></a></li>
            <li><a href="#"><i class="fa fa-map-marker-alt" id="endereco"></i></a></li>
        </ul>
    </div>
    
    <div class="end-footer">
        <ul class="end-footer-itens">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

    
{% endblock footer %}



