{% extends 'base.html' %}
{% load static %}
{% block title %}
    Listando Usuários
{% endblock title %}
{% block content %}
    {% if logado %}
        {% if object_list %}
        <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">nome</th>
                        <th scope="col">sobrenome</th>
                        <th scope="col">contato</th>
                        <th scope= "col">cpf</th>
                        <th scope="col">data de criação</th>
                        <th scope="col">data de vencimento</th>
                        <th scope="col">Ações da página de listagem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in object_list %}
                        <tr>
                            <th scope="row">{{ usuario.pk }}</th>
                            <td>{{ usuario.name }}</td>
                            <td>{{ usuario.lastname }}</td>
                            <td>{{ usuario.contact }}</td>
                            <td>{{ usuario.cpf }}</td>
                            <td>{{ usuario.created_at }}</td>
                            <td>{{ usuario.vencimento }}</td>
                            <td><a href="{% url 'delete_view' pk=usuario.pk %}" class="btn btn-outline-danger">Deletar Usuário</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        {% else %}
            <p>não existe usuários cadastrados</p>
        {% endif %}
    {% else %}
        <h1>você não possui permissão de acesso</h1>
    {% endif %}
{% endblock content %}