@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html{
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  color: #fff;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}



@import "../scss_pagina_inicial/colors";
@import "../scss_pagina_inicial/_header";
@import "../scss_pagina_inicial/_layout";
@import "../scss_pagina_inicial/servico";


a{
    color: $white-normal;
    text-decoration: none;
}

