@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  color: #fff;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgba(17, 17, 17, 0.6), rgb(20, 20, 20)), url("../images/imagem_fundo_academia.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-size: 100% 100vh;
}

/* menu - header - navbar */
header {
  width: 100%;
  height: 7vh;
  background: rgba(22, 22, 22, 0.2);
}

.menu-content {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.menu-content .list-itens {
  display: flex;
  list-style: none;
  gap: 3.5rem;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 0.1rem;
}

@media screen and (max-width: 650px) {
  .header-menu a {
    font-size: 1.7 rem;
  }
}
@media screen and (max-width: 450px) {
  .header-menu a {
    font-size: 1 rem;
  }
  .logo {
    font-size: 1.4rem;
  }
}
main {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

/* texto conteúdo principal */
.primary-text {
  max-width: 850px;
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.second-text {
  margin-bottom: 7rem;
  font-size: 2rem;
  color: rgb(165, 165, 165);
  text-transform: uppercase;
}

/* botões */
.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-ins, .btn-agendar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btns a {
  width: 250px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  position: relative;
  transition: 1.5s;
}

.btns a:hover {
  color: rgb(251, 255, 0);
  border: none;
}

.btns a::before {
  content: " ";
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 60px;
  background: rgb(61, 61, 61);
  z-index: -1;
  transition: 1s;
}

.btns a:hover:before {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .primary-text {
    width: 550px;
    font-size: 2.5rem;
  }
  .second-text {
    font-size: 1.3rem;
  }
  .btns a {
    width: 200px;
    height: 60px;
    letter-spacing: 0.1rem;
    border-radius: 16px;
    transition: 1.5s;
  }
  .main-content {
    min-height: 60vh;
  }
  .main-content h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .main-content h2 {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .primary-text {
    width: 300px;
    font-size: 2rem;
  }
  .second-text {
    font-size: 1.4rem;
  }
  .btns a {
    width: 150px;
    height: 60px;
    text-align: center;
    border-radius: 14px;
    transition: 1.5s;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.about {
  color: #fff;
  background: linear-gradient(to bottom, rgb(20, 20, 20), #06121e);
  overflow: hidden;
}
.about .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about .about-content img {
  max-width: 600px;
  border-radius: 5rem;
}
.about .about-content div {
  flex: 1;
}
.about .about-description h2 {
  color: #fff;
  font-size: 38px;
  margin-bottom: 24px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.about .about-description p {
  color: #fff;
  font-size: 23px;
  margin-bottom: 14px;
  line-height: 150%;
  letter-spacing: 0.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.about .about-description #p, .about .about-description #p1 {
  display: none;
}
.about .about-description p i:hover {
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.4);
}

@media screen and (max-width: 1200px) {
  .about-content {
    flex-direction: column;
  }
  .about-content .about-description {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .about-content .about-description h1, .about-content .about-description p {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
a {
  color: #fff;
}/*# sourceMappingURL=style.css.map */