/* menu - header - navbar */
header{
    width: 100%;
    height: 9vh;
    
   
    
    
}

.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}


.logo{
    margin-left: 2rem;
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu-content .list-itens{
    display: flex;
    list-style: none;
    gap: 0.1rem;
    
}

.menu-content .list-itens a{
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    transition: 2ms ease-in;
    position: relative;
    margin-right: 2rem;
    letter-spacing: 0.1rem;
}

.menu-content .list-itens a::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before{
    width: 100%;
}


@media screen and (max-width: 650px){
    .menu-content{
        .logo{
            font-size: 1.5rem;
        }
        .list-itens{
            gap: 0;

            a{
                font-size: 1.5rem;
            }
        }
    }
}


@media screen and (max-width: 450px){
    .menu-content{
        .logo{
            font-size: 1.2rem;
        }
        .list-itens{
            gap: 0;

            a{
                font-size: 1.2rem;
            }
        }
    }
}